%p#notice= notice

%p
  %b Title:
  = @todo.title
%p
  %b Description:
  = @todo.description
%p
  %b Completion:
  = @todo.completion

= link_to 'Edit', edit_todo_path(@todo), class: 'button info'
\|
= link_to 'Back', todos_path, class: 'button secondary'
